.banner_success {
  background-color: #00B274;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}

.button {
  cursor: pointer;
  width: 6rem;
  height: 2rem;
}

.button:disabled {
  cursor: not-allowed;
}

.card {
  background-color: white;
  border: 2px solid #eaeaea;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  max-height: 40rem;
  overflow: auto;
  padding: 1.5rem;
  text-align: left;
}

.container {
  background-color: #f6f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
}

.error_message {
  color: #ef4135;
}

.full_size_grid {
  width: 100%;
}

.half_size_grid {
  width: 50%;
}

.half_size_grid_with_padding {
  padding-right: 2rem;
  width: 50%;
}

.input {
  height: 2rem;
  padding-left: 2rem;
  width: 100%;
}

.input, .label {
  display: block;
}

.input_container {
  margin: 0;
  padding: 0;
  position: relative;
}

.input_img {
  bottom: 0.5rem;
  height: 1rem;
  left: 0.5rem;
  position: absolute;
  width: 1rem;
}

.label {
  margin-bottom: 0.5rem;
}

.list {
  padding: 0;
}

.list_item {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20rem;
}

.movie_name {
  width: 70%;
}

.padding_card {
  padding-right: 2rem;
}

.title {
  font-size: 2rem;
  line-height: 1.15;
  text-align: left;
  width: 100%;
}

@media (max-width: 1200px) {
  .main { 
    margin: 0 4rem;
  }
}

@media (max-width: 768px) {
  .list_item {
    flex-direction: column;
  }

  .banner_success {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .button {
    width: 100%;
  }

  .card {
    max-height: 25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  .half_size_grid, .half_size_grid_with_padding {
    width: 100%;
  }

  .half_size_grid_with_padding {
    padding-right: 0;
  }

  .main { 
    margin: 0 2rem;
  }

  .movie_name {
    width: 100%;
  }
}